/* Cores da página */
:root {
    --color-one:#ffff;
    --color-two:#ccc;
    --color-tree:#1d1d1d;
    --color-four:#fdfcfc;
    --color-five:#460080;
    --color-six:#302f2f;
    --color-seven:#898989;
    --color-eight:#606060;
    --color-nine:#bbb8b8;
    --color-ten:#0d5dd4;
    --color-eleven:#eb2d2d;
}
/***/
